<ion-view view-title="தாங்கல் தகவல்" class="temple">

  <ion-content class="padding has-header">
    <form name="templeForm" novalidate>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">தாங்கல் பெயர் *</span>
          <input type="text" placeholder="திருச்செந்தூர் அவதார பதி" ng-model="temple.name" required name="name">
          <div ng-messages="templeForm.name.$error" style="color:maroon" role="alert" ng-if='templeForm.name.$dirty'>
            <div ng-message="required">பெயர் தேவை</div>
          </div>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">மொபைல் எண் *</span>
          <input type="tel" placeholder="+91-9611772683" ng-model="temple.mobile" name="mobile" required>
          <div ng-messages="templeForm.mobile.$error" style="color:maroon" role="alert" ng-if='templeForm.mobile.$dirty'>
            <div ng-message="required">மொபைல் எண் தேவை</div>
          </div>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">நிறுவப்பட்ட வருடம்</span>
          <input type="number" placeholder="1963" max="2016" min="1809" ng-model="temple.year" name="year">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">பணிவிடையாளர் பெயர்</span>
          <input type="text" placeholder="பாலன்" ng-model="temple.priest">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">பேஸ்புக் பக்கம்</span>
          <input type="url" placeholder="https://www.facebook.com/Kadambankulam/" name="url" ng-model="temple.facebook">
          <div ng-messages="templeForm.url.$error" style="color:maroon" role="alert" ng-if='templeForm.$dirty'>
            <div ng-message="url">தவறான URL</div>
          </div>
        </label>
        <label class="item item-input item-select item-stacked-label">
          <span class="input-label">திருஏடு மாதம்</span>
          <select ng-model="temple.tamilMonth">
            <option ng-repeat="month in tamilMonths">{{month}}</option>
          </select>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">தொடர்பு நபர்</span>
          <input type="text" placeholder="சுப்பிரமணியம்ன்" ng-model="temple.person">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">கிராமம்</span>
          <input type="text" placeholder="கடம்பன்குளம்" ng-model="temple.village">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">தாலுகா</span>
          <input type="text" placeholder="ராதாபுரம்" ng-model="temple.taluk">
        </label>
        <label class="item item-input item-select item-stacked-label">
          <span class="input-label">மாவட்டம்</span>
          <select ng-model="temple.districtOne">
            <option ng-repeat="district in districts">{{district}}</option>
          </select>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">அட்சரேகை (Latitude)</span>
          <input type="number" placeholder="8.334413" ng-model="temple.latitude">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">தீர்க்கரேகை (Longitude)</span>
          <input type="number" placeholder="77.605804" ng-model="temple.longitude">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">அஞ்சல் குறியீடு</span>
          <input type="number" placeholder="627109" ng-model="temple.pincode">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">முகவரி</span>
          <textarea ng-model="temple.address"></textarea>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">தகவல்</span>
          <textarea ng-model="temple.information"></textarea>
        </label>
        <button class="button button-full button-calm" ng-click="openModal()">
          வாகனங்கள்
        </button>
        <button type="submit" class="button button-block button-positive" ng-click="addTemple()">
          அனுப்பு
        </button>
      </div>
    </form>
  </ion-content>
<script id="vehicle-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar-positive">
      <h1 class="title">வாகனங்கள்</h1>
      <div class="buttons">
        <button class="button button-icon ion-close" ng-click="closeModal()">
        </button>
      </div>
    </ion-header-bar>
    <ion-content class="padding">
      <ion-list class="list-inset">
        <ion-checkbox ng-repeat="car in cars track by $index" ng-model="car.isSelected">{{car.name}}</ion-checkbox>
      </ion-list>
      <button class="button button-full button-calm" ng-click="closeModal()">
        சரி
      </button>
    </ion-content>
  </ion-modal-view>
</script>
</ion-view>
