<ion-view view-title="கோவில் தகவல்" class="temple">

  <ion-content class="padding has-header">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="பெயர்" ng-model="name">
      </label>
      <label class="item item-input">
        <input type="number" placeholder="நிறுவப்பட்ட வருடம்" max="" min="1809" ng-model="year">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          திருஏடு படிக்கும் மாதம்
        </div>
        <select>
          <option ng-repeat="month in tamilMonths">{{month}}</option>
        </select>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="தொடர்பு நபர்">
      </label>
      <label class="item item-input">
        <input type="number" placeholder="மொபைல் எண்">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="கிராமம்">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="தாலுகா">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          மாவட்டம்
        </div>
        <select>
          <option ng-repeat="district in districts">{{district}}</option>
        </select>
      </label>
      <label class="item item-input">
        <input type="number" placeholder="அட்சரேகை">
      </label>
      <label class="item item-input">
        <input type="number" placeholder="தீர்க்கரேகை">
      </label>
      <label class="item item-input">
        <input type="number" placeholder="அஞ்சல் குறியீடு">
      </label>
      <label class="item item-input">
        <textarea placeholder="முகவரி"></textarea>
      </label>
      <label class="item item-input">
        <textarea placeholder="தகவல்"></textarea>
      </label>
      <button class="button button-block button-positive">
        அனுப்பு
      </button>
    </div>
  </ion-content>

</ion-view>
