<ion-view view-title="கோவில் தகவல்" class="temple">

  <ion-content class="padding has-header">
    <form name="add-temple">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="பெயர்" ng-model="temple.name" required>
        </label>
        <label class="item item-input">
          <input type="number" placeholder="நிறுவப்பட்ட வருடம்" max="2016" min="1809" ng-model="temple.year">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="பூசாரி" ng-model="temple.priest">
        </label>
        <label class="item item-input">
          <input type="url" placeholder="பேஸ்புக் பக்கம்" ng-model="temple.facebook">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            திருஏடு படிக்கும் மாதம்
          </div>
          <select ng-model="temple.tamilMonth">
            <option ng-repeat="month in tamilMonths">{{month}}</option>
          </select>
        </label>
        <label class="item item-input">
          <input type="text" placeholder="தொடர்பு நபர்" ng-model="temple.person">
        </label>
        <label class="item item-input">
          <input type="number" placeholder="மொபைல் எண்" ng-model="temple.mobile">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="கிராமம்" ng-model="temple.village">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="தாலுகா" ng-model="temple.taluk">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            மாவட்டம்
          </div>
          <select ng-model="temple.districtOne">
            <option ng-repeat="district in districts">{{district}}</option>
          </select>
        </label>
        <label class="item item-input">
          <input type="number" placeholder="அட்சரேகை" ng-model="temple.latitude">
        </label>
        <label class="item item-input">
          <input type="number" placeholder="தீர்க்கரேகை" ng-model="temple.longitude">
        </label>
        <label class="item item-input">
          <input type="number" placeholder="அஞ்சல் குறியீடு" ng-model="temple.pincode">
        </label>
        <label class="item item-input">
          <textarea placeholder="முகவரி" ng-model="temple.address"></textarea>
        </label>
        <label class="item item-input">
          <textarea placeholder="தகவல்" ng-model="temple.information"></textarea>
        </label>
        <button type="submit" class="button button-block button-positive" ng-click="addTemple()">
          அனுப்பு
        </button>
      </div>
    </form>
  </ion-content>

</ion-view>
