<ion-view view-title="தொடர்பு கொள்ள" class="temple">

  <ion-content class="padding has-header">
    <div class="card">
      <div class="item item-text-wrap">
        <p class="center">
          உங்களது நிழல்தாங்கல் பற்றிய தகவல்களை இந்த appல் இலவசமாக பதிவேற்றம் செய்ய கீழ்கண்ட தொடர்பு விபரங்கள் மூலம் தகவல்களை அனுப்புங்கள்
          <br> whatsapp: <+91-9843623080/+91-9952157741/+91-9611772683> அல்லது
          <br> email: contact.ayya1008@gmail.com
        </p>
      </div>
    </div>
    <button class="button button-block button-positive" ng-click="likeOnFacebook()">
      Like us on Facebook
    </button>
    <button class="button button-block button-positive" ng-click="rateUs()">
      Rate us on Playstore
    </button>
  </ion-content>

</ion-view>
