<ion-view view-title="தொடர்பு கொள்ள" class="temple">

  <ion-content class="padding has-header">
    <div class="card">
      <div class="item item-text-wrap">
        <p class="center">உங்களது தாங்கலை இந்த android app-ல் பதிவேற்றம் செய்ய பின் வரும் தகவல்களை 
          <br> whatsapp: <+91-9611772683/+91-9843623080> அல்லது
          <br> email: contact.ayya1008@gmail.com
          <br> மூலம் அனுப்புங்கள்.
        </p>

        <p>
          தலப்புராணம்: <br>
          தாங்கல் உருவான வருடம்: <br>
          திருவிழா நிகழ்வுகள்: <br>
          தினசரி பணிவிடை விபரம்: <br>
          ஏடு வாசிப்பு விழா: <br>
          தாங்கல் முகவரி: <br>
          Pincode: <br>
          தொலைபேசி எண்: <br>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        If you think you can contribute in building this app, please click below to drop a mail
        <a class="button button-block button-positive" href="mailto:contact.ayya1008@gmail.com?subject=Ayya1008">
          Mail the developers
        </a>
      </div>
    </div>
  </ion-content>

</ion-view>
