<ion-view view-title="நிகழ்வுகள்" cache-view="false" class="events">

    <ion-tabs class="tabs-positive tabs-top">

      <ion-tab title="வரவிருக்கும்">
        <ion-content>
          <ion-spinner icon="android" ng-if="isSpinnerVisible" class="spinner-positive"></ion-spinner>
          <ion-list>
            <ion-item ng-repeat="event in futureEvents">
              <h2>{{event.name}}</h2>
              <h4 class="positive">{{event.temple.name}}
                <span class="item-note">
                  {{event.tamil_date + ', ' + event.tamil_month}} ({{event.date}})
                </span>
              </h4>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-tab>

      <ion-tab title="கடந்த">
        <ion-content class="has-header">
          <ion-spinner icon="android" ng-if="isSpinnerVisible" class="spinner-positive"></ion-spinner>
          <ion-list>
            <ion-item ng-repeat="event in pastEvents">
              <h2>{{event.name}}</h2>
              <h4 class="positive">{{event.temple.name}}
                <span class="item-note">
                  {{event.tamil_date + ', ' + event.tamil_month}} ({{event.date}})
                </span>
              </h4>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-tab>

    </ion-tabs>

</ion-view>
