<ion-view>
  <div class="row">
    <div class="col half-screen center">
      <div class="home-icon pointer">
        <img src="../img/temple.svg">பதிகள்
      </div>
    </div>
    <div class="col half-screen center">
      <div class="home-icon pointer">
        <img src="../img/temples.svg">நிழல்தாங்கள்கள்
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col half-screen center">
      <div class="home-icon pointer">
        <img src="../img/scripture.svg">பங்கிடு
      </div>
    </div>
    <div class="col half-screen center">
      <div class="home-icon pointer">
        <img src="../img/add-temple.svg">தொடர்பு கொள்ள
      </div>
    </div>
  </div>
</ion-view>