<ion-view class="scriptures" cache-view="false">

  <ion-nav-title>
    {{scripture.name}}
  </ion-nav-title>

  <ion-content class="padding has-header">
    <div ng-if="scriptureId===1">
      <p class="center">
        சிவசிவா அரிகுரு சிவசிவா<br>
        சிவசிவா ஆதிகுரு சிவசிவா<br>
        மூலகுரு சிவசிவா சிவசிவா சிவமண்டலம்<br>
        அல்லா இல்லா இறைசூல் மகிலல்லா சிவசிவா மண்டலம்<br>
        அரி நாராயணகுரு சிவசிவா சிவமண்டலம்<br>
        நாதன் குருநாதன் சிவசிவா சிவமண்டலம்<br>
        பரலோகம் அளந்த பச்சைமால் நாராயணர் சிவசிவா சிவமண்டலம்<br>
        திருநாவுக்கும் சடைகுரு  சிவசிவா சிவமண்டலம்<br>
        செங்கண் திருகுரு சிவசிவா சிவமண்டலம்<br>
        சன்னியாசிகுரு சிவசிவா சிவமண்டலம்<br>
        மகாகுரு சிவசிவா சிவமண்டலம்<br>
        அரி சங்கராகுரு சிவசிவா சிவமண்டலம்<br>
        மகாகுரு சிவசிவா சிவகுருமண்டலம்<br>
        மண்டலம் குருமண்டலம் மாயன் குருமண்டலம்<br>
        குண்டலம் குருகுண்டலம் சிவசிவா குருமண்டலம்<br>
        சங்கம்நிதி குண்டலம் தரணிகுருகுண்டலம்<br>
        தரணியது குண்டலம் தரணிபுகழ் குண்டலம்<br>
        சிவசிவா எங்கும் நிறைந்தவர் ஏகமயமாய் நின்றவர் சிவசிவா<br>
        ஏககுருவாகப் படைத்தது நிறைந்தவர் சிவசிவா<br>
        படைத்து நிறைந்தவர் பாலன்வடிவு கொண்டவர்<br>
        பங்காளர் பங்காளர் பாருலோகம் அளந்தவர்<br>
        அளந்தவர் திருமால் ஆதிகுரு சன்னியாசி<br>
        சிவசிவா சன்னியாசி செந்தில்வேல் வடிவுமவர்<br>
        செந்தில்வேல் சன்னியாசி செந்தி வேலவர்<br>
        வடிவும் புகழ்படைத்தவர் மாயநிற மானவரவர் சிவசிவா<br>
        கங்கை கண்ணானவர் காரணம் நிறைந்தவர்<br>
        நிறைந்து நிறைந்தவர் ஏகமெல்லாம் நிறைந்தவர்<br>
        எங்கும் நிறைந்தவர் ஏகமாய் நின்றவர்<br>
        மண்டலம் புகழ்படைத்த மாயன்குரு சன்னியாசி<br>
        சிவசிவா தந்தேனன்னாய்<br>
        தன்னானாய் தந்தேனன்னாய் தன்னானாய்<br>
        சிவசிவா த..ம்…அ…சி அரி  நன்றாகக் குருவே துணை<br>
        சிவசிவா தெந்திநன்னாய் தென்னானாய் தெந்தி நன்னாய் தென்னானாய்!<br>
        சிவசிவா தன்னானாய் தன்னானாய் தன்னானாய தன்னானாய்<br>
        சிவசிவா தானானோம் தானானோம் தானானோம் தானானோ<br>
        சிவசிவா நானானோம் நானானோம் நானானோம் நானானோம்<br>
        சிவசிவா தந்தேநன்னம் தந்தேநன்னம் தந்தேநன்னம் தந்தேநன்னம்<br>
        மகாலிங்கம்          அரிலிங்கம்<br>
        சிவலிங்கம்           லிங்காலிங்கம்<br>
        குருலிங்கம்           சொக்கலிங்கம்<br>
        திருலிங்கம்           சுகலிங்கம்<br>
        ஏக்காலிங்கம்    ஆதிலிங்கம்<br>
        ஏகலிங்கம்            அருள்லிங்கம்<br>
        அடங்காலிங்கம்<br>
      </p>
    </div>
    <div ng-if="scriptureId===2">
      <p class="center">
        அய்யா சிவசிவா சிவசிவா அரகரா அரகரா<br>
        சிவசிவ சிவசிவா அரகர அரகரா<br>
        சிவசிவா குருவுக்கும் குருபண்டாரத்திக்கும்<br>
        சிவசிவா முறையாம் முறையோம் முறையோம்<br>
        சிவசிவா ஆண்டிக்கும் ஆண்டிச்சிக்கும்<br>
        சிவசிவா முறையோம் முறையோம் முறையோம்<br>
        சிவசிவா அய்யா நாராயணர்க்கும்<br>
        நாட்டுக்குப் பெரிய வைகுண்டருக்கும்<br>
        சிவசிவா கட்டியம் கட்டியம் கட்டியம்<br>
        சிவசிவா அய்யா நாராயணசுவாமி<br>
        செயம் செயம் செயம்<br>
        சிவசிவா அரகரா செயம் செயம் செயம்<br>
        தேசமயம் யேகம் திட்டித்த இந்திர நாராயணர்<br>
        நிச்சயித்தபடி யல்லாது மனிதன்<br>
        நிச்சயித்த படியிலலை அய்யாவே<br>
        இங்கும் யெங்கும் யெவ்வுயிர்க்கும் யெங்கள்<br>
        அய்யா சிவசிவா அரகர அரகரா<br>
        அய்யா நாராயணர்க்கும் அம்மை உமையாளுக்கும்<br>
        தெய்வோர் இடுவது முறையோம் முறையோம் முறையோம்<br>
        மோட்சஉயிர்க்கும் நரகஉயிர்க்கும்<br>
        தீ நரகப்பாவி உயிர்க்கும்<br>
        ராச உயிர்க்கும் பள்ளிவாசல் உயிர்க்கும்<br>
        வைகுண்ட பதவி உயிர்க்கும்<br>
        எவ்வுயிர்க்கும் எங்கள் அய்யா<br>
        சிவசிவ சிவசிவா அரகர அரகரா<br>
        முன்னுள்ள ராமர் உயிர்க்கும்<br>
        மோகவடி வானஉயிர்க்கும்<br>
        முகச்சையுள்ள ராமர் உயிர்க்கும்<br>
        இப்போ வந்த நாராயணர்<br>
        எங்கும் நிறைந்தவர் ஏகமயமானவன்<br>
        நமக்கு உதவிசெய்ய வந்த<br>
        நாராயணர் இவர்தான்<br>
        எவ்வுயிவர்க்கும் எங்கள் அய்யா<br>
        சிவசிவ சிவசிவா அரகர அரகரா<br>
        கறடு முறடு தட்டுவது எங்கள் அய்யா<br>
        கன்னியா குமரி க்கு வடக்கே<br>
        பதயேறுவதும் யெங்கள் அய்யா<br>
        சிவசிவ சிவசிவா அரகர அரகரா<br>
        நாடாள்வார் அப்பதியில் கூட்டுவதும் எங்கள் அய்யா<br>
        நல்லதொரு சிங்காசனம் இருந்து<br>
        அரசாள வருவதும் எங்கள் அய்யா<br>
        சிவசிவ சிவசிவா அரகர அரகரா<br>
        வானம் உள்ள தேவரெல்லாம்<br>
        பூமியுள்ள  நாள்வரைக்கும்<br>
        மற்றமுள்ள தேசமெல்லாம் எங்கள் அய்யா<br>
        வைகுண்டராசராக அரசாள வருவதும்<br>
        எங்கள் அய்யா சிவசிவா அரகரா அரகரா<br>
        நாகவடமதிலே எங்கள் அய்யா<br>
        வைகுண்டராசர்  வந்து நாலுவிதமாய்<br>
        வடிவுகொள்வதும் எங்கள் அய்யா<br>
        சிவசிவ சிவசிவா அரகர அரகரா<br>
        மாயன் திருப்பதிக்குள் யிருந்து புக்கு<br>
        எங்கள் அய்யா வைகுண்டராசர்  யெழுந்தருளி<br>
        தெருச்சுற்றி தேசத்தில் பவனிவருவது<br>
        யெங்கள் அய்யா சிவசிவா அரகரா அரகரா<br>
        கொந்தளத்துடன் வந்து எங்கள் அய்யா<br>
        கூண்டபெரும்  படையுடனே<br>
        கூடவரும்  காளாஞ்சியோடே கோட்டைசுற்றி<br>
        விளையாடி வருவதும் எங்கள் அய்யா<br>
        சிவசிவ சிவசிவா அரகர அரகரா<br>
        இருபத்தி நாலிலொன்று ஏற்பதும் எங்கள் அய்யா<br>
        வைகுண்டராசர்  வந்து ஈரேழு உலகமெல்லாம்<br>
        ஒருகுடைக்குள் அரசாள வருவதும் எங்கள் அய்யா<br>
        சிவசிவ சிவசிவா அரகர அரகரா<br>
        கொந்தளப்ப ராசாவும் கோனாண்டி ராசனுட<br>
        கோட்டையெல்லாம் எங்கள் அய்யா அழித்து<br>
        வைகுண்டராசர்  வந்து தர்மபதியுதித்து<br>
        தர்மயுகம் அரசாள வருவது எங்கள அய்யா<br>
        சிவசிவா சிவசிவா அரகர அரகரா<br>
        வாடாத பூவதுவாம் எங்கள் அய்யா<br>
        வைகுண்டராசர் வந்துதிருப்பதிக்குள் புகுவது எங்கள் அய்யா<br>
        சிவசிவ சிவசிவா அரகர அரகரா<br>
        முடிசூடும்  பெருமாளாக எங்கள் அய்யா<br>
        வைகுண்டராசர் வந்து மறுமன்னர் யெதிரில்லாமல்<br>
        அரசாள வருவது எங்கள் அய்யா<br>
        சிவசிவ சிவசிவா அரகர அரகரா<br>
        சரணம்சரணமென்று தாழ்ந்துநடந்த அன்பருக்கு<br>
        வைகுண்டபதிதனிலே வைகுண்ட ராசராக<br>
        அரசாள வருவது எங்கள் அய்யா<br>
        சிவசிவ சிவசிவா அரகர அரகரா<br>
        முடுக்கண் தலையறுத்த மேகவர்ணப் பட்டும்சூடி<br>
        வைகுண்டப் பதிதனிலே வைகுண்டராசராக<br>
        அரசாள்வது எங்கள் அய்யா<br>
        சிவசிவ சிவசிவா அரகர அரகரா<br>
        தீத்தறுத்த மாயவனார் எங்கள் அய்யா<br>
        வைகுண்டராசர் வந்து நடுத்தீர்த்து<br>
        அரசாள்வதும் எங்கள் அய்யா<br>
        சிவசிவா சிவசிவ அரகர அரகரா<br>
        மாயன்திருப் பதிதனிலே எங்கள் அய்யா<br>
        வைகுண்டராசர் வந்து மேகம் சூழ்ந்த<br>
        வையகமெல்லாம் ஒருகுடைக்குள்<br>
        அரசாள்வது எங்கள் அய்யா<br>
        சிவசிவா சிவசிவ அரகர அரகரா<br>
        படிஉடன் நடைதனிலே பாரப் பதிதனிலே<br>
        வைகுண்ட பதிதனிலே வைகுண்டராக<br>
        அரசாள்வது எங்கள் அய்யா<br>
        சிவசிவா சிவசிவ அரகர அரகரா<br>
        நாலுயுகம் கொண்டு எங்கள் அய்யா<br>
        வைகுண்டராசருக்கு நாற்சொரூபம் கொண்டு<br>
        தர்மபதியுதித்து அரசாள வருவது<br>
        எங்கள் அய்யா சிவசிவா சிவசிவ அரகர அரகரா<br>
        குணமான ரிஷிமார் வந்து பணிவிடை செய்து<br>
        வைகுண்டராசராக ஏற்பது எங்கள் அய்யா<br>
        சிவசிவா சிவசிவ அரகர அரகரா<br>
        சாதிக்கு சிறையிருப்பது எங்கள் அய்யா<br>
        தங்கத் திருமுடி சூடுவது எங்கள் அய்யா<br>
        அட்டி சரப்பளி அணிவது எங்கள்அய்யா<br>
        சிவசிவா சிவசிவ அரகர அரகரா<br>
        சத்திமுனி  என்தகப்பன் சத்திகன்னி என்தாயார்<br>
        தள்ளிவைத்துத் தவத்தை அளித்தவன்<br>
        தரத்தை அறுப்பதுவும் எங்கள் அய்யா<br>
        சிவசிவா சிவசிவ அரகர அரகரா<br>
        கண்ணு மயிலாளைக் கண்டவர்<br>
        கயிலாசம் ஆளவருகிறாவர் எங்கள் அய்யா<br>
        சிவசிவா சிவசிவ அரகர அரகரா<br>
        சிங்கமுகம் தொரிந்தெடுத்துத் சோர்த்துப்<br>
        படையறுக்க வருகிறார் எங்கள் அய்யா<br>
        சிவசிவா சிவசிவ அரகர அரகரா<br>
        செந்தாமரை முகத்தாளுடனே<br>
        தெருக்கள் தெருக்கள் தோறும்<br>
        சிங்காசனம் முடித்து வருகிறார் எங்கள் அய்யா<br>
        சிவசிவா சிவசிவ அரகர அரகரா<br>
        கம்புத் தடியதைக் கையில் கொடுத்து<br>
        கருடனை விடுவது எங்கள் அய்யா<br>
        வம்புகலியதை மதத்தை யொடுக்கி<br>
        வாகன மிடுவது எங்கள் அய்யா<br>
        கும்பக் குடமதில் பால்கொண்டு வந்து<br>
        குடிக்கச் சொல்வது எங்கள் அய்யா<br>
        செம்பொற் கவரிவீச அமைக்க<br>
        சீமைஅரசாள வருவது எங்கள் அய்யா<br>
        சிவசிவா சிவசிவ அரகர அரகரா<br>
        ஆரசடலம் எடுப்பது எங்கள் அய்யா<br>
        அவனிப்பகைவர் தரம் அறுப்பதும் எங்கள் அய்யா<br>
        பாரகலி முடிப்பதுவும் எங்கள் அய்யா<br>
        பஞ்சவர்ணத்தேர் அலங்காரிப்பதும் எங்கள் அய்யா<br>
        சிவசிவா சிவசிவ அரகர அரகரா<br>
        உத்தாரமும் துகிலும் உகந்து எனைநகைத்த<br>
        சந்திராதியைக்குத்தி தர்மபதி அரசாள<br>
        வெற்றிக்கொடியும் கட்டி வீரப்பதியிலேறி<br>
        மற்றும் விடைகள் பெற்று வருகிறார் எங்கள் அய்யா’<br>
        சிவசிவா சிவசிவ அரகர அரகரா<br>
        நாட்டை நொடித்த கலீனீசன் முடியை<br>
        இறக்கி நாராயணர் பதியாள்வார் எங்கள் அய்யா<br>
        சிவசிவா சிவசிவ அரகர அரகரா<br>
        கல்லைப்பிளந்த கணபதி நாராயணம்<br>
        செப்பைத்திறந்து திருமுடிசூடி வருகிறார் எங்கள் அய்யா<br>
        சிவசிவா சிவசிவ அரகர அரகரா<br>
        அக்கனியால் அழிப்பேனென்று சொல்வது மெய்தானப்பா<br>
        அனல்வந்து அஞ்சாறு நாளையில் அரசாள்வது மெய்தானப்பா<br>
        ஆபரணமலை அணிவது எங்கள் அய்யா<br>
        சிவசிவா சிவசிவ அரகர அரகரா<br>
        ஆடிக்கள் ஆடி ஐமூன்று நாழிகைக்குள்<br>
        அறிந்தவர் அறிந்திடுங்கோ அயல்ஓடிப்போகுமுன்னே<br>
        தெரிந்தவர்  தெரிந்திடுங்கோ எங்கள் அய்யா<br>
        திரைகடல் ஓடுமுன்னே அய்யா<br>
        சிவசிவா சிவசிவ அரகர அரகரா<br>
        பணிந்தவர் பணிந்திடுங்கோ  பாலன் பதியேறுமுன்னே<br>
        துணை மலையொன்று நம்பினபேர் க்கு<br>
        தொட்டு நாமம்சுற்றி வருகிறார் எங்கள் அய்யா<br>
        சிவசிவா சிவசிவ அரகர அரகரா<br>
        தொழுத மதலையைக் கண்டு<br>
        தொழுது பணிந்து நடந்தவா;க்கு<br>
        நாடு நமக்கென்றுயெடுத்துக்கொடுத்து ஆளவருகிறார்<br>
        எங்கள் அய்யா சிவசிவா சிவசிவ அரகர அரகரா<br>
        கும்பிட்டு  தவம் செய்வதற்குக்<br>
        கோட்டைதலம் காட்டிக்கொடுக்க வருகிறார்<br>
        எங்கள் அய்யா சிவசிவா சிவசிவ அரகர அரகரா<br>
        அருள்கொண்டு முடிசூடியிருள் கொண்டு<br>
        படையறுக்க வருகிறார் எங்கள்<br>
        அய்யா சிவசிவா சிவசிவ அரகர அரகரா<br>
        ஆயிரனாட்டுக் கொடுமுடியையும் உடைத்து<br>
        துவரையம்பதி உதித்து<br>
        அரசாள்வது எங்கள் அய்யா<br>
        சிவசிவா சிவசிவ அரகர அரகரா<br>
        வர்ணமுனி  மாலைசூடி மாயக்கலியறுக்க வருகிறார்<br>
        எங்கள் அய்யா சிவசிவா சிவசிவ அரகர அரகரா<br>
        நாட்டுமுடியிறக்கி நாராயணர் பதியாள வருகிறார்<br>
        எங்கள் அய்யா சிவசிவா சிவசிவ அரகர அரகரா<br>
        அய்யா நாராயணர்க்கும்  அம்மை உமையாளருக்கும்<br>
        தெய்வாரிடுவது  முறையோம் முறையோம் முறையோம்<br>
        கவுந்தலம், வெந்தலம், சிலப்புவான், தானமறச்சானை எடுத்துதான்<br>
        சமஸ்தானத்தை சுத்தி பண்ணுங்கோ<br>
        இத்தியூர் சமனமா இச்சமயம் விடுங்கோகாட்டில்கலிவீசாமல்<br>
        திருக்கடச் சடலம் சகலவுடாத் தச்சன் உச்சில்லாக்கொட்டை<br>
        கக்குறு கறுத்தான்தடங்குலுக்கி படைவார் மறுவுறிதியான<br>
        சமனம்மன் அல்லிப்புலிமன் அகில்பாறையான்<br>
        சிலுப்பு வானெடுத்து சிலம்வுவானத்து தணலத்து<br>
        சங்குரண்டடிமை தேசவாதிக்குக் கலகம் வந்திருக்குது<br>
        மறுயுகத்தார் இதை மாயமொன்று சிரிக்கிறார்  அரி<br>
        அவர் சற்றுமயலமடைந்தார் இன்று பாஷையால்<br>
        அரசு வேண்டாமா சித்திரவாதத் தூதர்கள்<br>
        தீயினால் எரிந்து போவார்கள்.
      </p>
    </div>
    <div ng-if="scriptureId === 3">
      <p class="center">
        சாஸ்திரத்திலுள்ள கன்னிமக்கள் நம்முடைய சான்றோர்கள் நன்றாய் தழைத்துவாழ<br>
        பத்திரத்தாள் பெற்றமக்கள் நம்முடைய பைந்தொடிமார் கன்னிமக்கள் கோத்திரத்தோடே நன்றாய் தழைத்துவாழ<br>
        விழிமடவார் படைத்தலைவர் நம்முடைய வெற்றிச் சான்றோர் நன்றாய் தழைத்துவாழ<br>
        கடலதிலே தவசிருந்தேன் நம்முடைய கண்ணுச்சான்றோர் நன்றாய் தழைத்துவாழ<br>
        வில்லு கொண்டே எய்துவிட்டேன் நம்முடைய விசயன் சான்றோர் நன்றாய் தழைத்துவாழ<br>
        பார்த்துவிட்டேன் இரண்டு கண்ணுங்கொண்டு நம்முடைய பத்தினி மக்கள் நன்றாய் தழைத்துவாழ<br>
        மலைக்கன்னிமார் தங்காவில் பெற்ற நம்முடைய மக்கள் வலிய சீமை கட்டி அரசாளவாழ<br>
        தர்மருட குலத்திலுள்ள நம்முடைய தெய்வச் சான்றோர்கள் நன்றாய் தழைத்துவாழ<br>
        கோத்தி ரத்து சான்றோர்கள் நம்முடைய குடும்பத்தார்கள் நன்றாய் தழைத்துவாழ<br>
        கோட்டைத்தளம் மதிலிடித்து வாழ நம்முடைய மக்கள் கோடிச் சீமைக்கட்டி அரசாள வாழ<br>
        ஆல்போலே தழைத்து வாழ நம்முடைய ஐவர்மக்கள் சீமைகட்டி அரசாள வாழ<br>
        பயலுடைய தரமறுத்துப் பண்டாரஞ் சீமையாள மக்கள் நன்றாய் தழைத்துவாழ.<br>
      </p>
      <h3>தான நிறைவு வாசகம்</h3>
      <p class="center">
        கொத்துச்சரப்பளிக்காரன் வர்த்தக நாராயணன் தெச்சணத்தில் வந்திருந்து பிச்சைகொடுத்த பக்தன் சித்தூர் குடும்பத்தை வைத்தரசாளுவது எங்கள் அய்யா சிவசிவ சிவசிவ அரகர அரகரா<br>
        பிரமனை அடுத்ததுக்காக பூவண்டன்மார் காவிக்கொள்ள பூச்சலங்கை கொடுப்பதும் எங்கள் அய்யா சிவசிவ சிவசிவ அரகர அரகரா<br>
        ஆண்டியும் ஆண்டிச்சியுங்கூடி அழித்து வரும்போது அன்புள்ள பக்தரை ஆல்போல் தழைக்க வைப்பதும் எங்கள் அய்யா சிவசிவ சிவசிவ அரகர அரகரா<br>
      </p>
    </div>
    <div ng-if="scriptureId === 4">
      <p class="center">
        மவுனி கலியாண மணவோலை வாழ்த்தலுக்கு<br>
        சிவனே குருவான திருமேனி முன்னடவா<br>
        அய்யாவும் நாரணரும் அம்மை உமையவளும்<br>
        தெய்வார் தமக்கிரங்கி திருமுகூர்த்தம் செய்யவென்று<br>
        அண்டரோடு தேவர் அறியவே ஓலையிட்டு<br>
        கொண்டாடியின்பம் குளிர்ந்தநதி பாலதுபோல்<br>
        சீரானமக்களென்றும் தெய்வச்சான்றோர்களுக்கு<br>
        நாராயணர் தாமும் நல்லமுகூர்த்தமிட்டு<br>
        கன்னிக்கலியாணம் கைப்பிடிக்க வேணுமென்று<br>
        மன்னனுக்கு யேற்றுமதி மந்திரியும் தானறிய<br>
        இவனிவளாமென்று யினங்குறித்துப் பெண்பேசி<br>
        அவனியறிய அலங்கார மிட்டனரே<br>
        கட்டுடைய பந்தலுக்குக் காலொன்பது நாட்டி<br>
        பட்டுமேற் கட்டியெனப் பந்தலிலே தான்வகுத்து<br>
        சில்விளக்கேற்றிச் சிறந்த பரி பூரணமாய்<br>
        நற்சுதி கண்பாட நடசாலை யும் வருத்தி<br>
        சங்கீதம்பாட சகலகலையுந் தொனிக்க<br>
        மங்கள ஓசையேழு வாத்தியமும் தான்முழங்கக்<br>
        கிம்புருடாதி முதல் கின்னரிவா சித்துநிற்க<br>
        தம்பூரு வீணைசுரமண் டலம்முழங்க<br>
        கொலுகொலு வெனத்தெய்வார் குரவைமுழங்கிநிற்க<br>
        மலமலென ஆவுநெய்யில் வாடாவிளக்கெரிய<br>
        அழகு கொலுவிருக்க ஆலத்தியேந்திநிற்க<br>
        ஒழுகு காளாஞ்சி ஒருமித்து வந்துநிற்க<br>
        சத்திமுனி பத்திரத்தாள் சாயூச்சமாயிருக்க<br>
        இத்தனைப் பண்பும் யிதமுடனே தெய்வார்கள்<br>
        பந்தலுக்குள் ளேபரிந்து யிருந்துயெல்லோரும்<br>
        கந்தனுக்கு நற்சரடு கற்பிக்க வேணுமென்று<br>
        தாயாருடன் பிறந்த தன்மா மனைவருத்தி<br>
        காயாம்பூ மேனியனார் கட்டிலொன்று தான்கொடுக்க<br>
        அதிலே யிருமெனவும் அருகில வரிருக்க<br>
        சதிரான வார்த்தையொன்று தான்செவியி லுமூதி<br>
        கோப்புக் குண்டான குருமுறையைத் தான்கொடுத்து<br>
        மாப்பிள்ளையும் பெண்ணையும் வருவித்துப் பந்தலிலே<br>
        பரம ரகசியமாய் பலகைதனி லேயிருத்தி<br>
        அரகரா வென்று அம்மையுமையை தானினைந்து<br>
        சிவசிவா வென்று திருச்சரடு சேர்த்தனரே<br>
        தவசி முனியுடனே தானெழுந்து வந்து நின்று<br>
        சீதனங்களான சிலவரிசை தான்கொடுத்து<br>
        மாதவனை நினைந்து வாழ்த்தினார் பாலர்தனை<br>
        சொந்தமாய் உங்களுக்குத் துவரையம் பதியெனவும்<br>
        தந்தோ மிலங்கைத் தளவாடம் உள்ளதெல்லாம்<br>
        பிள்ளைகளே யிந்த பெரும்புவியை ஆள்வதற்கும்<br>
        வெள்ளானை மீதேற விடைதந்தோம் உங்களுக்குத்<br>
        ஆனாலும் மக்காள்நீர் ஆளூவீர் ராச்சியத்தை<br>
        வானோர் அறியவும் பால் வாழ்த்தினோம் நீர்வாழ<br>
        வாசவனும் தேவர் மறையவரும்தாம்வாழ<br>
        பேசரிய தெய்வார்கள் பெற்றமக்கள் தாம்வாழ<br>
        கன்னிமார் பெண்கள் பெற்ற கைச்சான்றோர் தாம்வாழ<br>
        அன்னை பத்திரத்தாள் அமுதருந்தி தான்வாழ<br>
        முக்கந்தன் வாழமுனிமார் கிளைவாழ<br>
        தக்கன் தலைதுணித்ய தம்பிரான் தான்வாழ<br>
        மேலோக நீதிவிளங்கி மனுவாழ<br>
        லோகமுள்ளளவும் பொய்யருகி மெய்வாழ<br>
        நல்லோரும் வாழ நவில்வோரும் தான்வாழ<br>
        எல்லோரும் வாழயிருந்து நீடுழி வாழ்க!
      </p>
    </div>
  </ion-content>
</ion-view>
