<ion-view cache-view="false" class="temple">

  <ion-nav-title>
    {{temple.name}}
  </ion-nav-title>

  <ion-tabs class="tabs-positive">

    <ion-tab title="தகவல்">
      <ion-content class="padding has-header">
        <ion-slide-box ng-if="(temple.images && temple.images.length > 0) && (isOnline() || temple.noImage)">
          <ion-slide ng-repeat="url in temple.images track by $index">
            <div class="center">
              <img ng-src="{{url}}" style="max-height: 320px; max-width:{{width}}px">
            </div>
          </ion-slide>
        </ion-slide-box>
        <div class="card center lh10" ng-if="!isOnline() && !temple.noImage">
          இணையத்துடன் இணைக்கவும்.
        </div>
        <div class="card" ng-init="isCollapsed=true" ng-if="temple.information">
          <div class="item item-divider" ng-click="isCollapsed=!isCollapsed">
            <i ng-class="{'ion-chevron-down': isCollapsed, 'ion-chevron-up': !isCollapsed}"></i>
            சிறப்புகள்
          </div>
          <div class="item item-text-wrap text-wrap" ng-show="!isCollapsed">
            {{temple.information}}
          </div>
        </div>
        <div class="card" ng-init="isCollapsed=true">
          <div class="item item-divider" ng-click="isCollapsed=!isCollapsed">
            <i ng-class="{'ion-chevron-down': isCollapsed, 'ion-chevron-up': !isCollapsed}"></i>
            பிற தகவல்கள்
          </div>
          <div class="item item-text-wrap" ng-show="!isCollapsed">
            <div ng-if="temple.founded_at" class="founded other-info">
              <span class="circle">{{temple.founded_at}}</span>
                துடக்கம்
            </div>
            <div ng-if="temple.is_primary_thangal" class="clearfix temple other-info">
              <img src="img/temple.svg" class="temple-icon">அய்யா கால் நாட்டிக் கொடுத்த நிழல்தாங்கள்.
            </div>
            <div ng-if="temple.is_book_read && !temple.book_month" class="clearfix book other-info">
              <img src="img/book.svg" class="temple-icon">திரு ஏடு வாசிப்பு நடைபெறும் நிழல்தாங்கள்.
            </div>
            <div ng-if="temple.priest_name" class="clearfix book other-info">
              <img src="img/priest.svg" class="temple-icon"> {{temple.priest_name}}
            </div>
            <div ng-if="temple.book_month" class="clearfix book other-info">
              <img src="img/book.svg" class="temple-icon"> {{temple.book_month}} மாதம் திரு ஏடு வாசிப்பு நடைபெறும்.
            </div>
            <div ng-if="temple.cars" class="clearfix book other-info">
              <img src="img/charriot.svg" class="temple-icon"> {{temple.cars}}
            </div>
          </div>
        </div>
      </ion-content>
    </ion-tab>

    <ion-tab title="முகவரி">
      <ion-content class="has-header">
        <div class="card" ng-if="temple.latitude && isOnline()">
          <div class="item item-text-wrap">
            <ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options">
              <ui-gmap-marker idKey="temple.id" coords="marker.center" options="marker.options">
              </ui-gmap-marker>
            </ui-gmap-google-map>
          </div>
        </div>
        <div class="card center lh10 map-place" ng-if="!isOnline() && temple.latitude">
          இணையத்துடன் இணைக்கவும்.
        </div>
        <div class="card center lh10 map-place" ng-if="!temple.latitude">
          தகவல் இல்லை.
        </div>
        <div class="card">
          <div class="item item-text-wrap">
            <div class="row">
              <h4 class="center col">
                <div ng-if="temple.contact_person">{{temple.contact_person}},</div>
                <div ng-if="temple.street_address">{{temple.street_address}},</div>
                <div ng-if="temple.village">{{temple.village}},</div>
                <div ng-if="temple.taluk">{{temple.taluk}},</div>
                <div ng-if="temple.district">{{temple.district}}.</div>
              </h4>
              <div class="col-5 directions" ng-if="temple.latitude && isOnline()">
                <button class="button icon ion-ios-navigate button-outline" ng-click="getDirections()"></button>
              </div>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-tab>

    <ion-tab title="திருவிழாக்கள்" ng-if="temple.events && temple.events.length > 0">
      <ion-content class="has-header">
        <div class="card" ng-repeat="event in temple.events track by $index" ng-init="d.closed=false">
          <div class="item item-divider" ng-click="d.closed=!d.closed">
            <!-- TODO: Add a arrow icon if description is available -->
            <h2>{{event.name}}</h2>
            <h4 class="positive" ng-if="event.tamil_date && event.tamil_month">
              {{event.tamil_month + ', ' + event.tamil_date}}
              <span class="item-note" ng-if="event.start_date">
                ({{event.start_date}})
              </span>
            </h4>
            <h4 class="positive" ng-if="event.tamil_month && event.day && event.n">
              {{event.tamil_month + ' மாதம்'}}
              <ng-pluralize count="event.n" when="{'1': 'முதல்', '2': 'இரண்டாவது', '3': 'மூன்றாவது', '4': 'நான்காவது', '-1': 'கடைசி'}">
              </ng-pluralize>
              {{event.day}}
              <span class="item-note" ng-if="event.start_date">
                ({{event.start_date}})
              </span>
            </h4>
            <h4 class="positive" ng-if="event.tamil_month && !event.day && !event.n && !event.tamil_date">
              {{event.tamil_month}}
              <span class="item-note" ng-if="event.start_date">
                ({{event.start_date}})
              </span>
            </h4>
          </div>
          <div class="item item-text-wrap" ng-if="event.description" ng-show="!d.closed">
            {{event.description}}
          </div>
        </div>
      </ion-content>
    </ion-tab>

  </ion-tabs>
</ion-view>
