<ion-view view-title="{{title}}" cache-view="false">
  <ion-content>
    <div ng-if="isOnline() || isOfflineAvailable">
      <ion-spinner icon="android" ng-if="isSpinnerVisible" class="spinner-positive"></ion-spinner>
      <!-- TODO: Close all other districts on click of one. Open only one district at any given time.  -->
      <ion-list ng-if="templeType === 'thangal'">
        <div ng-repeat="district in districts track by $index" ng-init="d.closed=$index===0?false:true">
          <ion-item class="item-divider" ng-click="d.closed=!d.closed" >
            <i ng-class="{'ion-chevron-down': d.closed, 'ion-chevron-up': !d.closed}"></i>
            {{district}}
          </ion-item>
          <ion-item ng-repeat="temple in grouped[district] track by $index" href="#/app/temples/{{temple.temple_type.toLowerCase()}}/{{temple.id}}" ng-show="!d.closed">
            {{temple.name}}
          </ion-item>
        </div>
      </ion-list>
      <ion-list ng-if="templeType === 'pathi'">
        <ion-item ng-repeat="temple in currentTemples track by $index" href="#/app/temples/{{temple.temple_type.toLowerCase()}}/{{temple.id}}" ng-show="!d.closed">
          {{temple.name}}
        </ion-item>
      </ion-list>
    </div>
    <div ng-if="!isOnline() && !isOfflineAvailable()" class="center connect">
      இணையத்துடன் இணைக்கவும்
    </div>
  </ion-content>
</ion-view>
