<ion-view view-title="உகப்படிப்பு">
  <ion-content padding="true">
    <p class="center">
      அய்யா சிவசிவா சிவசிவா அரகரா அரகரா<br>
      சிவசிவ சிவசிவா அரகர அரகரா<br>
      சிவசிவா குருவுக்கும் குருபண்டாரத்திக்கும்<br>
      சிவசிவா முறையாம் முறையோம் முறையோம்<br>
      சிவசிவா ஆண்டிக்கும் ஆண்டிச்சிக்கும்<br>
      சிவசிவா முறையோம் முறையோம் முறையோம்<br>
      சிவசிவா அய்யா நாராயணர்க்கும்<br>
      நாட்டுக்குப் பெரிய வைகுண்டருக்கும்<br>
      சிவசிவா கட்டியம் கட்டியம் கட்டியம்<br>
      சிவசிவா அய்யா நாராயணசுவாமி<br>
      செயம் செயம் செயம்<br>
      சிவசிவா அரகரா செயம் செயம் செயம்<br>
      தேசமயம் யேகம் திட்டித்த இந்திர நாராயணர்<br>
      நிச்சயித்தபடி யல்லாது மனிதன்<br>
      நிச்சயித்த படியிலலை அய்யாவே<br>
      இங்கும் யெங்கும் யெவ்வுயிர்க்கும் யெங்கள்<br>
      அய்யா சிவசிவா அரகர அரகரா<br>
      அய்யா நாராயணர்க்கும் அம்மை உமையாளுக்கும்<br>
      தெய்வோர் இடுவது முறையோம் முறையோம் முறையோம்<br>
      மோட்சஉயிர்க்கும் நரகஉயிர்க்கும்<br>
      தீ நரகப்பாவி உயிர்க்கும்<br>
      ராச உயிர்க்கும் பள்ளிவாசல் உயிர்க்கும்<br>
      வைகுண்ட பதவி உயிர்க்கும்<br>
      எவ்வுயிர்க்கும் எங்கள் அய்யா<br>
      சிவசிவ சிவசிவா அரகர அரகரா<br>
      முன்னுள்ள ராமர் உயிர்க்கும்<br>
      மோகவடி வானஉயிர்க்கும்<br>
      முகச்சையுள்ள ராமர் உயிர்க்கும்<br>
      இப்போ வந்த நாராயணர்<br>
      எங்கும் நிறைந்தவர் ஏகமயமானவன்<br>
      நமக்கு உதவிசெய்ய வந்த<br>
      நாராயணர் இவர்தான்<br>
      எவ்வுயிவர்க்கும் எங்கள் அய்யா<br>
      சிவசிவ சிவசிவா அரகர அரகரா<br>
      கறடு முறடு தட்டுவது எங்கள் அய்யா<br>
      கன்னியா குமரி க்கு வடக்கே<br>
      பதயேறுவதும் யெங்கள் அய்யா<br>
      சிவசிவ சிவசிவா அரகர அரகரா<br>
      நாடாள்வார் அப்பதியில் கூட்டுவதும் எங்கள் அய்யா<br>
      நல்லதொரு சிங்காசனம் இருந்து<br>
      அரசாள வருவதும் எங்கள் அய்யா<br>
      சிவசிவ சிவசிவா அரகர அரகரா<br>
      வானம் உள்ள தேவரெல்லாம்<br>
      பூமியுள்ள  நாள்வரைக்கும்<br>
      மற்றமுள்ள தேசமெல்லாம் எங்கள் அய்யா<br>
      வைகுண்டராசராக அரசாள வருவதும்<br>
      எங்கள் அய்யா சிவசிவா அரகரா அரகரா<br>
      நாகவடமதிலே எங்கள் அய்யா<br>
      வைகுண்டராசர்  வந்து நாலுவிதமாய்<br>
      வடிவுகொள்வதும் எங்கள் அய்யா<br>
      சிவசிவ சிவசிவா அரகர அரகரா<br>
      மாயன் திருப்பதிக்குள் யிருந்து புக்கு<br>
      எங்கள் அய்யா வைகுண்டராசர்  யெழுந்தருளி<br>
      தெருச்சுற்றி தேசத்தில் பவனிவருவது<br>
      யெங்கள் அய்யா சிவசிவா அரகரா அரகரா<br>
      கொந்தளத்துடன் வந்து எங்கள் அய்யா<br>
      கூண்டபெரும்  படையுடனே<br>
      கூடவரும்  காளாஞ்சியோடே கோட்டைசுற்றி<br>
      விளையாடி வருவதும் எங்கள் அய்யா<br>
      சிவசிவ சிவசிவா அரகர அரகரா<br>
      இருபத்தி நாலிலொன்று ஏற்பதும் எங்கள் அய்யா<br>
      வைகுண்டராசர்  வந்து ஈரேழு உலகமெல்லாம்<br>
      ஒருகுடைக்குள் அரசாள வருவதும் எங்கள் அய்யா<br>
      சிவசிவ சிவசிவா அரகர அரகரா<br>
      கொந்தளப்ப ராசாவும் கோனாண்டி ராசனுட<br>
      கோட்டையெல்லாம் எங்கள் அய்யா அழித்து<br>
      வைகுண்டராசர்  வந்து தர்மபதியுதித்து<br>
      தர்மயுகம் அரசாள வருவது எங்கள அய்யா<br>
      சிவசிவா சிவசிவா அரகர அரகரா<br>
      வாடாத பூவதுவாம் எங்கள் அய்யா<br>
      வைகுண்டராசர் வந்துதிருப்பதிக்குள் புகுவது எங்கள் அய்யா<br>
      சிவசிவ சிவசிவா அரகர அரகரா<br>
      முடிசூடும்  பெருமாளாக எங்கள் அய்யா<br>
      வைகுண்டராசர் வந்து மறுமன்னர் யெதிரில்லாமல்<br>
      அரசாள வருவது எங்கள் அய்யா<br>
      சிவசிவ சிவசிவா அரகர அரகரா<br>
      சரணம்சரணமென்று தாழ்ந்துநடந்த அன்பருக்கு<br>
      வைகுண்டபதிதனிலே வைகுண்ட ராசராக<br>
      அரசாள வருவது எங்கள் அய்யா<br>
      சிவசிவ சிவசிவா அரகர அரகரா<br>
      முடுக்கண் தலையறுத்த மேகவர்ணப் பட்டும்சூடி<br>
      வைகுண்டப் பதிதனிலே வைகுண்டராசராக<br>
      அரசாள்வது எங்கள் அய்யா<br>
      சிவசிவ சிவசிவா அரகர அரகரா<br>
      தீத்தறுத்த மாயவனார் எங்கள் அய்யா<br>
      வைகுண்டராசர் வந்து நடுத்தீர்த்து<br>
      அரசாள்வதும் எங்கள் அய்யா<br>
      சிவசிவா சிவசிவ அரகர அரகரா<br>
      மாயன்திருப் பதிதனிலே எங்கள் அய்யா<br>
      வைகுண்டராசர் வந்து மேகம் சூழ்ந்த<br>
      வையகமெல்லாம் ஒருகுடைக்குள்<br>
      அரசாள்வது எங்கள் அய்யா<br>
      சிவசிவா சிவசிவ அரகர அரகரா<br>
      படிஉடன் நடைதனிலே பாரப் பதிதனிலே<br>
      வைகுண்ட பதிதனிலே வைகுண்டராக<br>
      அரசாள்வது எங்கள் அய்யா<br>
      சிவசிவா சிவசிவ அரகர அரகரா<br>
      நாலுயுகம் கொண்டு எங்கள் அய்யா<br>
      வைகுண்டராசருக்கு நாற்சொரூபம் கொண்டு<br>
      தர்மபதியுதித்து அரசாள வருவது<br>
      எங்கள் அய்யா சிவசிவா சிவசிவ அரகர அரகரா<br>
      குணமான ரிஷிமார் வந்து பணிவிடை செய்து<br>
      வைகுண்டராசராக ஏற்பது எங்கள் அய்யா<br>
      சிவசிவா சிவசிவ அரகர அரகரா<br>
      சாதிக்கு சிறையிருப்பது எங்கள் அய்யா<br>
      தங்கத் திருமுடி சூடுவது எங்கள் அய்யா<br>
      அட்டி சரப்பளி அணிவது எங்கள்அய்யா<br>
      சிவசிவா சிவசிவ அரகர அரகரா<br>
      சத்திமுனி  என்தகப்பன் சத்திகன்னி என்தாயார்<br>
      தள்ளிவைத்துத் தவத்தை அளித்தவன்<br>
      தரத்தை அறுப்பதுவும் எங்கள் அய்யா<br>
      சிவசிவா சிவசிவ அரகர அரகரா<br>
      கண்ணு மயிலாளைக் கண்டவர்<br>
      கயிலாசம் ஆளவருகிறாவர் எங்கள் அய்யா<br>
      சிவசிவா சிவசிவ அரகர அரகரா<br>
      சிங்கமுகம் தொரிந்தெடுத்துத் சோர்த்துப்<br>
      படையறுக்க வருகிறார் எங்கள் அய்யா<br>
      சிவசிவா சிவசிவ அரகர அரகரா<br>
      செந்தாமரை முகத்தாளுடனே<br>
      தெருக்கள் தெருக்கள் தோறும்<br>
      சிங்காசனம் முடித்து வருகிறார் எங்கள் அய்யா<br>
      சிவசிவா சிவசிவ அரகர அரகரா<br>
      கம்புத் தடியதைக் கையில் கொடுத்து<br>
      கருடனை விடுவது எங்கள் அய்யா<br>
      வம்புகலியதை மதத்தை யொடுக்கி<br>
      வாகன மிடுவது எங்கள் அய்யா<br>
      கும்பக் குடமதில் பால்கொண்டு வந்து<br>
      குடிக்கச் சொல்வது எங்கள் அய்யா<br>
      செம்பொற் கவரிவீச அமைக்க<br>
      சீமைஅரசாள வருவது எங்கள் அய்யா<br>
      சிவசிவா சிவசிவ அரகர அரகரா<br>
      ஆரசடலம் எடுப்பது எங்கள் அய்யா<br>
      அவனிப்பகைவர் தரம் அறுப்பதும் எங்கள் அய்யா<br>
      பாரகலி முடிப்பதுவும் எங்கள் அய்யா<br>
      பஞ்சவர்ணத்தேர் அலங்காரிப்பதும் எங்கள் அய்யா<br>
      சிவசிவா சிவசிவ அரகர அரகரா<br>
      உத்தாரமும் துகிலும் உகந்து எனைநகைத்த<br>
      சந்திராதியைக்குத்தி தர்மபதி அரசாள<br>
      வெற்றிக்கொடியும் கட்டி வீரப்பதியிலேறி<br>
      மற்றும் விடைகள் பெற்று வருகிறார் எங்கள் அய்யா’<br>
      சிவசிவா சிவசிவ அரகர அரகரா<br>
      நாட்டை நொடித்த கலீனீசன் முடியை<br>
      இறக்கி நாராயணர் பதியாள்வார் எங்கள் அய்யா<br>
      சிவசிவா சிவசிவ அரகர அரகரா<br>
      கல்லைப்பிளந்த கணபதி நாராயணம்<br>
      செப்பைத்திறந்து திருமுடிசூடி வருகிறார் எங்கள் அய்யா<br>
      சிவசிவா சிவசிவ அரகர அரகரா<br>
      அக்கனியால் அழிப்பேனென்று சொல்வது மெய்தானப்பா<br>
      அனல்வந்து அஞ்சாறு நாளையில் அரசாள்வது மெய்தானப்பா<br>
      ஆபரணமலை அணிவது எங்கள் அய்யா<br>
      சிவசிவா சிவசிவ அரகர அரகரா<br>
      ஆடிக்கள் ஆடி ஐமூன்று நாழிகைக்குள்<br>
      அறிந்தவர் அறிந்திடுங்கோ அயல்ஓடிப்போகுமுன்னே<br>
      தெரிந்தவர்  தெரிந்திடுங்கோ எங்கள் அய்யா<br>
      திரைகடல் ஓடுமுன்னே அய்யா<br>
      சிவசிவா சிவசிவ அரகர அரகரா<br>
      பணிந்தவர் பணிந்திடுங்கோ  பாலன் பதியேறுமுன்னே<br>
      துணை மலையொன்று நம்பினபேர் க்கு<br>
      தொட்டு நாமம்சுற்றி வருகிறார் எங்கள் அய்யா<br>
      சிவசிவா சிவசிவ அரகர அரகரா<br>
      தொழுத மதலையைக் கண்டு<br>
      தொழுது பணிந்து நடந்தவா;க்கு<br>
      நாடு நமக்கென்றுயெடுத்துக்கொடுத்து ஆளவருகிறார்<br>
      எங்கள் அய்யா சிவசிவா சிவசிவ அரகர அரகரா<br>
      கும்பிட்டு  தவம் செய்வதற்குக்<br>
      கோட்டைதலம் காட்டிக்கொடுக்க வருகிறார்<br>
      எங்கள் அய்யா சிவசிவா சிவசிவ அரகர அரகரா<br>
      அருள்கொண்டு முடிசூடியிருள் கொண்டு<br>
      படையறுக்க வருகிறார் எங்கள்<br>
      அய்யா சிவசிவா சிவசிவ அரகர அரகரா<br>
      ஆயிரனாட்டுக் கொடுமுடியையும் உடைத்து<br>
      துவரையம்பதி உதித்து<br>
      அரசாள்வது எங்கள் அய்யா<br>
      சிவசிவா சிவசிவ அரகர அரகரா<br>
      வர்ணமுனி  மாலைசூடி மாயக்கலியறுக்க வருகிறார்<br>
      எங்கள் அய்யா சிவசிவா சிவசிவ அரகர அரகரா<br>
      நாட்டுமுடியிறக்கி நாராயணர் பதியாள வருகிறார்<br>
      எங்கள் அய்யா சிவசிவா சிவசிவ அரகர அரகரா<br>
      அய்யா நாராயணர்க்கும்  அம்மை உமையாளருக்கும்<br>
      தெய்வாரிடுவது  முறையோம் முறையோம் முறையோம்<br>
      கவுந்தலம், வெந்தலம், சிலப்புவான், தானமறச்சானை எடுத்துதான்<br>
      சமஸ்தானத்தை சுத்தி பண்ணுங்கோ<br>
      இத்தியூர் சமனமா இச்சமயம் விடுங்கோகாட்டில்கலிவீசாமல்<br>
      திருக்கடச் சடலம் சகலவுடாத் தச்சன் உச்சில்லாக்கொட்டை<br>
      கக்குறு கறுத்தான்தடங்குலுக்கி படைவார் மறுவுறிதியான<br>
      சமனம்மன் அல்லிப்புலிமன் அகில்பாறையான்<br>
      சிலுப்பு வானெடுத்து சிலம்வுவானத்து தணலத்து<br>
      சங்குரண்டடிமை தேசவாதிக்குக் கலகம் வந்திருக்குது<br>
      மறுயுகத்தார் இதை மாயமொன்று சிரிக்கிறார்  அரி<br>
      அவர் சற்றுமயலமடைந்தார் இன்று பாஷையால்<br>
      அரசு வேண்டாமா சித்திரவாதத் தூதர்கள்<br>
      தீயினால் எரிந்து போவார்கள்.
    </p>
  </ion-content>
</ion-view>
